spring:
   profiles:
      active:
        - dev
---
server:
  port: 8201

spring:
  profiles: dev
  application:
      name: microconfig-test-client-dev001
  cloud:
    stream:
      kafka:
        binder:
          brokers: 47.106.189.240

eureka:
  client:
    service-url:
      defaultZone: http://admin:a@localhost:7301/eureka
  instance:
    prefer-ip-address: true
    instance-id: microservice-config-clien
    
info:
  app.name: microservice-config-client-beta
  company.name: hyycinfo
---
server:
  port: 8102

spring:
  profiles: beta
  application:
      name: microconfig-test-client-beta002
  cloud:
    stream:
      kafka:
        binder:
          brokers: 47.106.189.240

eureka:
  client:
    service-url:
      defaultZone: http://admin:a@localhost:7301/eureka
  instance:
    prefer-ip-address: true
    instance-id: microservice-config-client
    
info:
  app.name: microservice-config-client-beta
  company.name: hyycinfo
    
